/* Style */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

/*Global*/
body{
  
}


/* Navigation */

nav li{
    
  list-style: none;
  display: inline-block;
} 

nav a:link,
nav a:visited{
  background: black;
  color: white;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}



nav a:hover{
  background: red;
  margin-left: 20px;
}

nav a:active{
  background: red;
}


/*Header*/
header img{
    widows: 100px;
}


/*Quote*/
blockquote{
    text-align: center;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px 0 red;
    
}