/* Style */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

/*Global*/
body{
  background: url("../../img/steel.jpg");
}

section p{
   
    font-size: 1.4em;
}

h1 img{
    width: 10em;
    height: 8em;
}
section h1{
    padding-left: 1.655em;
}

/* Navigation */

nav li{
    
  list-style: none;
  display: inline-block;
} 

nav a:link,
nav a:visited{
  background: black;
  color: white;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}



nav a:hover{
  background: red;
  margin-left: 20px;
}

nav a:active{
  background: red;
}


/*Header*/
header img{
    widows: 100px;
}


